docker.enabled = true

params {
    input_dir        = './test/data'
    reads_pattern    = "*_R{1,2}*.fastq"
    nslots           = 16
    output_dir       = './test/mg-clust-output/'
    full_output      = false
    stop_at_module   = 4

    // MODULE1
    assem_preset    = "meta-sensitive"
    min_contig_len  = 250
    min_seq         = 5

    // MODULE2
    train_file_name = "illumina_1"

    // MODULE3
    min_orf_length  = 60

    // MODULE 4
    clust_thres     = 0.7
    clust_cov_len   = 0.85

}