/*
================================================================================
  mg-clust nextflow configuration
================================================================================
*/

docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

params {
    reads_dir       = "data/reads"
    reads_pattern   = "*_R{1,2}*.fastq"
    output_dir      = "results"
    nslots          = 4

    // module 1
    assem_preset    = "meta-sensitive"
    min_contig_len  = 250
    min_seq         = 5
    markdup         = false

    // module 2
    train_file_name = "illumina_1"

    // module 3
    min_orf_length  = 60

    // module 4
    clust_thres     = 0.7
    clust_cov_len   = 0.85
}

process {
    cpus   = { params.nslots }
    memory = "32 GB"
    time   = "24h"
}

// Profiles for different execution environments
profiles {

    local {
        process.executor = "local"
    }

    slurm {
        process.executor   = "slurm"
        process.queue      = "normal"
        process.clusterOptions = "--account=myaccount"
    }
}

