docker.enabled = true

params {
    input_dir        = './test/data'
    reads_pattern    = "*_R{1,2}*.fastq"
    nslots           = 16
    output_dir       = './test/mg-clust-output/'
    full_output      = true
    stop_at_module   = 7

    // MODULE1
    assem_preset    = "meta-sensitive"
    min_contig_len  = 250
    min_seq         = 5

    // MODULE2
    train_file_name = "illumina_1"

    // MODULE3
    min_orf_length  = 60

    // MODULE 4
    clust_thres     = 0.7
    clust_cov_len   = 0.85

    // MODULE 5
    gtdb        = "${System.getenv('HOME')}/.mg-clust/db/gtdb/gtdb"
    lca_mode    = 3
    sensitivity = 4.0
    tax_lineage = 1

    // MODULE 6
    hmm_db       = "${System.getenv('HOME')}/.mg-clust/db/ko/ko_profiles.hmm"
    evalue_thres = 1e-3
    cut_ga       = false

}

process {
    withName: MODULE5 {
        containerOptions = "--volume ${System.getenv('HOME')}/.mg-clust:${System.getenv('HOME')}/.mg-clust"
    }
    withName: MODULE6 {
        containerOptions = "--volume ${System.getenv('HOME')}/.mg-clust:${System.getenv('HOME')}/.mg-clust"
    }
}
